{% extends "layout.html" %}

{% block content %}
    <div class="container text-center mt-5 mb-5">
        <h1>Users Page</h1>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>UUID</th>
                    <th>Username</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.userID }}</td>
                    <td>{{ user.uuid }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.status }}</td>
                    <td>
                        <a href="{{ url_for('edit_user', user_id=user.userID) }}" class="btn btn-warning">Edit</a>
                        <a href="{{ url_for('delete_user', user_id=user.userID) }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
